//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 18 19:20:58 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "Blue<0>" LOCATE = SITE "B11" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "A11" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "HSync" LOCATE = SITE "B12" LEVEL 1;
COMP "CLK_100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "VSync" LOCATE = SITE "A12" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "B9" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "CLK_12MHz" LOCATE = SITE "D9" LEVEL 1;
COMP "Switch<0>" LOCATE = SITE "M18" LEVEL 1;
COMP "Switch<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "Switch<2>" LOCATE = SITE "M16" LEVEL 1;
COMP "Switch<3>" LOCATE = SITE "L17" LEVEL 1;
COMP "Switch<4>" LOCATE = SITE "K17" LEVEL 1;
COMP "Switch<5>" LOCATE = SITE "K18" LEVEL 1;
NET "vga_1/vga_clk_1/clkin1" PERIOD = 10 ns HIGH 50%;
NET "CLK_12MHz_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

